
body
{
	/*background-color: #D3E3E8;*/
	background-color: #B55767;
	#A8273C;
	#DEE090;
	/*#F2F0CE;*/
	/*#D3E4E8;*/
	
	
}









/*star of header*/
header
{

	background-color: #B2CCD4;
	border: 9px #F0AABA groove;
	
	
}



header aside
{
	
	width: 20%;


	
}




header aside, header .un
{
	display: inline-block;
	vertical-align: middle;
}



.un
{
	
	width:79%;
	/*bottom: 30px;*/
	text-align: center;
}

h1
{
	border: 9px blue groove;
	color: blue;
	background-image: url("eau.jpeg");
	width: 50%;
	margin-left: 15%;

}



h2
{
	color: #9C7C24;
}



h1, h2, h3 
{
	font-size: 50px;
	font-family: 'Baloo Bhaina', cursive;

}




h3
{
	text-align: center;
}



h3, h4
{
	font-size: 20px;
}

.soustitre
{
	color: red;
	padding-right: 17%;
	padding-bottom:auto;
}





nav
{
	/*background-color: orange;*/
	color: white;
}

nav ul li
{
	display: inline-block; 

}

nav a
{
	text-align: left;
	padding:6em;
}

/*head of header*/



/*Section*/

.intro
{
	padding: auto;
	padding-left:285px;
	width: 50%;
	height: 20%


	}


.deuxièmeaside
{
	background-color:white;
	width: 6%;
	display: inline-block;
}

/*La vente*/

.vente,.vente2, .vente3
{
	font-size: 2em; 
}

h2
{
	text-align: center;
}


/*.Piscines
{
	border: 9px #F0AABA groove; 
}*/




div
{
	
	width:92%;
	/*height: 50em;*/
	float: right;
	bottom: 30%;
	display: inline-block;
}

.piscineex 
{
	width: 90%;
	height: 450%;
}

.piscineint
{
	width: 90%;
	height: 450px;
}

.spa
{
	width: 90%;
	height: 450px;
}

.sauna
{
	width: 90%;
	height: 450px;
}

.sauna2
{
	width: 90%;
	height: 450px;
}

em
{
	color: #F56938;
}

/*fin de La vente*/



/*Star of footer*/
.rs
{
	width: 50px;
	height: 50px;


}	



footer 
{
	
	/*border: 9px #DB571F groove;*/
	


	/*background-color: silver;*/
}

/*End of footer*/



/**************************************************************************************************************************************
************************************************************************************************************************************
********************************************************Page tarifs*****************************************************************
*************************************************************************************************************************************/

td, th /* bordure sur les td ET les th */

{

    border: 1px solid black;


}