/*star of Communs rules*/

*
{
	margin: 0;
	padding: 0;
}

img
{
	height: 70%;
	width: 70%;
}







/*end of communs rules*/

body
{
	background-color: #F4F5E6;
}







/*star of header*/


header
{

	background-color: #B2CCD4;
	
	
	
}



header aside
{
	
	width: 20%;


	
}




header aside, header .un
{
	display: inline-block;
	vertical-align: middle;
}



.un
{
	
	width:79%;
	/*bottom: 30px;*/
	text-align: center;
}

h1
{
	border: 9px blue groove;
	color: blue;
	background-image: url("eau.jpeg");
	width: 50%;
	margin-left: 15%;


}



h2
{
	color: blue;
}



h1, h2, h3 
{
	font-size: 50px;
	font-family: 'Baloo Bhaina', cursive;

}




h3
{
	text-align: center;
}



h3, h4
{
	font-size: 20px;
	font-family: 'Baloo Bhaina', cursive;

}





.soustitre
{

	font-style: 60px;
	color: #D14115;
	padding-right: 17%;
	margin: auto;
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
}





nav
{
	/*background-color: orange;*/

	color: white;

}

nav ul li
{
	display: inline-block; 

}

nav a
{
	text-align: left;
	padding:6em;
}

/*head of header*/



/*Section*/

.intro
{
	padding: auto;
	padding-left:285px;
	width: 50%;
	height: 20%


	}


.deuxiemeaside
{
	background-color:white;
	width: 6%;
	display: inline-block;
}

/*La vente*/

.vente,.vente2, .vente3
{
	font-size: 2em; 
}

h2
{
	text-align: center;
}


/*.Piscines
{
	border: 9px #F0AABA groove; 
}*/



/*Star fo DIV and Sales*/
div
{
	
	width:85%;
	margin: auto;
	/*height: 50em;*/
	
}






.piscineex 
{
	width: 90%;
	height: 450px;
}

.piscineint
{
	width: 90%;
	height: 450px;
}

.spa
{
	width: 90%;
	height: 450px;
}

.sauna
{
	width: 90%;
	height: 450px;
}

.sauna2
{
	width: 90%;
	height: 450px;
}

em
{
	color: blue;
	font-style: italic;
}




/*End of DIV and Sales*/



/*Star of footer*/
.rs
{
	width: 50px;
	height: 50px;
}	

/*.paiement
{
	width: 50px;
	height: 80px;
}*/

footer
{
	/**/
	/*background-color: #966E75;*/
	background-color: silver;

	margin-top: 90%;
	font-weight: bold;

}





/*End of footer*/



/**************************************************************************************************************************************
************************************************************************************************************************************
********************************************************Page tarifs*****************************************************************
*************************************************************************************************************************************/

/*Star of table*/

table
{
	margin-left:30%;
	padding:30px;
}






td, th /* bordure sur les td ET les th */

{

    border: 1px solid black;


}


/*end of table*/

/*************************************************************************************************************************************
************************************************************************************************************************************
*********************************************************Page contact***************************************************************
*************************************************************************************************************************************/

.contact
{
	
	display:inline-block;
	width:92%;
	/*height: 50em;*/
	float: right;
	bottom: 30%;

	padding: 50px;
}

.recording
{
	
	width: 200px;
}

.recording2
{
	
	width: 200px;
}

/***************************************************************************************************************************************
*************************************************************************************************************************************
*****************************************************L'entreprise********************************************************************
*************************************************************************************************************************************/


/*Star of the section*/
.lentreprise
{
	
	margin: auto;
	width: 50%;
	height: 50%;
}